.container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.678); 
  
    padding-bottom: 50px;
}

.container:not(:first-child) {
    padding-top: 50px;
 
}

.imgContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}

.addParamContainer {
    display: block;
    width: fit-content;    
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

.cardContainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 35px;
    border-radius: 15px;
    background-color: rgba(172, 177, 174, 0.151);
    transition: all 0.5s ease;
}

.cardContainer:hover {
    transform: scale(1.15);
    -webkit-box-shadow: 10px 10px 73px -33px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 73px -33px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 73px -33px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease;
}



.title {
    margin-bottom: 20px;
}

.infoTitle {
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px black;
}
.infoCard{
    height: fit-content;
    padding: 35px;
    border-radius: 15px;
    background-color: rgba(172, 177, 174, 0.151);
}
.descriptionCard{
    height: fit-content;
        padding: 35px;
        border-radius: 15px;
        background-color: rgba(172, 177, 174, 0.151);
}

.link{
    text-align: center;
    color:#fff;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.link:hover,
.link:focus{
    transform: scale(1.15);
   
    text-shadow: 1px 1px 2px black;
    transition: all 0.5s ease;

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.delBtn {
    font-size: 26px;
    position: absolute;
    width: 43px;
    height: 43px;
    padding: 10px;
    border-radius: 25px;
    border-bottom: 18px solid rgba(240, 108, 108, 0.678);
    justify-content: center;
    display: block;
    bottom: -10px;
    right: -10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.delBtn:hover {
    transform: scale(1.15);
    background-color: rgb(197, 61, 61);
    color: white;

    transition: all 0.5s ease;
}
.description{
    color: white;
        margin-bottom: 15px;
        text-shadow: 1px 1px 2px black;
        cursor: pointer;
        text-align: center;

}
.text{
    font-size: 24px;
    text-align: center;
}
.wikiLink{
    color :#fff;
    text-shadow: 1px 1px 2px black;

}
.wikiLink:hover{
    color: black;
        text-shadow: 1px 1px 2px white;
}

@media screen and (min-width: 768px) {
   .container{
    padding: 0 30px;
    padding-bottom: 50px;
   }
   .infoCard {
      
       width: fit-content;
      
   }
   
   .flexContainer{
    align-items: center;
   }
    .addBtn {
        right: -10px;
    }
}

@media screen and (min-width: 1024px) {
    .img {
        width: 400px;
    }
        .wrap>.container:nth-child(3n)>.flexContainer,
        .wrap>.container:nth-child(3n-1)>.flexContainer {
            flex-direction: row-reverse;
        }
        .flexContainer {
            flex-direction: row;
            justify-content:space-around;
    
        }
}