.listItem {
    position: relative;
    transition: all 0.5s ease;
}

.listItem:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    border-radius: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}

.addBtn {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 43px;
    height: 43px;
    padding: 10px;
    border-radius: 25px;
    border-bottom: 18px solid rgba(108, 240, 163, 0.678);
    cursor: pointer;
    justify-content: center;
    display: block;
    bottom: -10px;
    right: 35px;
    transition: all 0.5s ease;
}

.addBtn:hover {
    transform: scale(1.15);
    background-color: rgb(43, 192, 105);
    color: white;

    transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
    .img {
        display: inline;
        margin-bottom: 0;
    }

    .addBtn {
        right: -10px;
    }
}

@media screen and (min-width: 1024px) {
    .img {
        width: 400px;
    }
}
