.container {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 728px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 924px;
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 90px;
    padding: 20px;
    background: rgb(51, 107, 149);
    background: linear-gradient(180deg, rgba(51, 107, 149, 1) 63%, rgba(121, 118, 129, 1) 95%);
}

nav {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.navLinkList {
    display: flex;
}

.linkItem {
    margin-right: 30px;
}

.linkItem:last-child {
    margin-right: 0;
}

.registerList {
    display: flex;
}

.registerItem {
    margin-right: 25px;
}

.registerItem:last-of-type {
    margin-right: 0;
}

.privatHederContainer {
    display: flex;
    justify-content: space-between;
}

.logoutBtn {
    margin-left: auto;
    text-shadow: 1px 1px 2px black;
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.logoutBtn:hover{
    transform: scale(1.15);
    transition: all 0.5s ease;
    
}
.userMenu{
text-align: right;
color: white;
}
