.GoBackBtn{
    position: absolute;
    font-size: 30px;
    top: 100px;    
    width: fit-content;
    height: 45px;
    color: white;
    background-color: transparent;
    transition: all 0.5s ease;
    transform: scale(1.15);
   
}
.GoBackBtn:hover,
.GoBackBtn:focus{
    transition: all 0.5s ease;
    transform: scale(1.15);
text-shadow: 1px 1px 20px black;
}